@import url('https://fonts.googleapis.com/css?family=Arimo');

html {
	font-family: 'Arimo', sans-serif;
	background-color: #3c6c9b;
	color: #FFF;
}
* {
	margin: 0;
}

body {
	min-width: 450px;
	max-width: 750px;
	margin: 0 auto;
	border: 1px solid #FFF;
}

.flex-container {
	display: flex;
	justify-content: center;
}
.flex-container-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
 #main {
 	height: 182px;
 }
 #mainContent {
 	position: fixed;
 	width: 100%;
 	background-color: rgba(60, 108, 155, .9);
 }

/*				Item Input				*/

#itemInput {
	display: block;
	width: 50%;
	height: 30px;
	margin: 40px auto 10px auto;
	padding: 3px;
	font-size: 25px;
	border: none;
}


/*				Item List 				*/
ul {
	list-style: none;
	background-color: #62809e;
 	padding-left: 0;
 	cursor: pointer;

}
li {
	padding: 10px;
	margin: 1px 0px;
	border-bottom: 1px solid #3c6c9b;
}

#itemList {
	width: 50%;
	margin: 0px 0px;
}

#deleteItem ul li:hover {
	box-shadow: 0px 0px 1px #FFF;
	/*border: 1px solid #FFF;
	padding: 8px 9px;*/
	cursor: pointer;
}

/*				 Buttons				*/
#buttonContainer {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: 0 auto;
}
.button {
	width: 120px;
	box-shadow: 1px 1px 3px black;
	border: 1px solid #FFF;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	margin: 10px auto;
}

#button {
	
	
	
}
.button:active {
	box-shadow: 1px 1px 5px black inset;
}

@media only screen and (max-width: 561px) {
	.button {
		width: 110px;
		font-size: 10px;
		padding: 5px;
	}
}