/*	version 3 */
@import url('https://fonts.googleapis.com/css?family=Arimo');

html {
	font-family: 'Arimo', sans-serif;
	background-color: #3c6c9b;
	color: #FFF;
}
* {
	margin: 0;
	border-radius: 10px;
}

input {
	font-size: 25px;
	border: none;
	color: #3c6c9b;
}
input:focus{
	outline: none;
	box-shadow: 0px 0px 10px black;
}
#container {
	display: none;
}
#container {
	min-width: 400px;
	max-width: 750px;
	margin: 0px auto;
	opacity: 0;
}

/*		Start Screen (Name Your List)		*/
#nameListContainer {

}
#nameListContainer input {
	text-align: center;
	width: 100%;
	max-width: 500px;
	font-size: 28px;
	margin: 50% auto;
}


/*				HEADER				*/

#header {
	/* Acts as placeholder for fixed header */
	height: 172px;
}
#displayDate {
	font-size: 14px;
}
#fixedHeader {
 	/* H1, Date, Input and Buttons */
 	position: fixed;
 	width: 100%;
 	max-width: 750px;
 	background-color: rgba(60, 108, 155, .9);
 }
.flex-container-header {  
	/* For Grocery List & Date */

	display: flex;
	justify-content: space-around;
	align-items: center;
}


/*				Item Input				*/

#itemInput {
	display: block;
	width: 80%;
	max-width: 400px;
	height: 30px;
	margin: 30px auto 10px auto;
	padding: 3px;
	
}


/*				 Buttons				*/
#buttonContainer {
	display: flex;
	justify-content: space-between;
	width: 80%;
	max-width: 400px;
	margin: 0 auto;
}
.button {
	width: 120px;
	box-shadow: 1px 1px 3px black;
	border: 1px solid #FFF;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	margin: 5px auto;
}
.button:active {
	box-shadow: 1px 1px 5px black inset;
}


/*				Main Content			*/
/*	each list item div is 40px height */

#mainContent {
	width: 80%;
	max-width: 400px;
	margin: 0 auto;
}
.flex-container {
	/* flex for main content*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#mainContent div {
	background-color: rgba(234, 236, 239, .2);
	border-bottom: 1px solid rgba(234, 236, 239, .6);
	height: 40px;
}

#mainContent div input {
	/*Checkbox*/
	margin-left: 10px;	
}
#mainContent div label {
	padding: 10px;
	width: 60%;
}
.addHover:hover {
	text-indent: 10px;
	box-shadow: 0px 0px 10px #FFF;
	cursor: pointer;
}
#mainContent div p {
	padding: 10px;
}

/*		Footer 		*/
footer {
	opacity: .5;
	font-size: 10px;
	text-align: center;
}
.spinner {
	display: inline-block;
	padding: 30px;
}
.spinner:hover {
	animation: spinner 1s cubic-bezier(0.01, -0.01, 1, 0.97) infinite;
	will-change: transform;
}
.spinner:nth-child(1) {
	animation-duration: 1s;
}

@keyframes spinner {
	100% {
		transform: rotate(1turn);
	}
}




